<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services List</title>
</head>
<body>
    <div align="center" th:each="entry : ${servicesByType}">
        <h2 th:text="${serviceTypeNames[__${entry.key}__]}"></h2>
        <table>
            <thead>
            <tr>
                <th>Название услуги</th>
                <th>Цена услуги</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="service : ${entry.value}" th:if="${!service.deletable}">
                <td th:text="${service.name}"></td>
                <td th:text="${service.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>