<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
    <h1>Пользователь</h1>
    <p>Номер телефона: <span th:text="${user.phoneNumber}"></span> </p>
    <p>Имя: <span th:text="${user.name}"></span></p>
    <h1>Список автомобилей</h1>
    <table th:if="${!listCars.isEmpty()}">
        <thead>
            <tr>
                <th>ГосНомер</th>
                <th>Марка</th>
                <th>Кузов</th>
                <th>Год выпуска</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="car : ${listCars}">
                <td th:text="${car.stateNumber}"></td>
                <td th:text="${car.make}"></td>
                <td th:text="${car.bodyType}"></td>
                <td th:text="${car.year}"></td>
                <td th:if="${car.carReady}">Машина в автосервисе</td>
            </tr>
        </tbody>
    </table>
    <p th:unless="${!listCars.isEmpty()}">У вас нет зарегистрированных автомобилей</p>
    <h2>Добавить автомобиль</h2>
    <form action="#" th:action="@{/profile/new-car}" th:object="${car}" method="POST">
        <select th:field="*{make}" id="make">
            <option th:each="make : ${T(com.rtumirea.KazakovIG.cursework.domain.enums.CarMake).values()}"
                    th:value="${make}" th:text="${make}"></option>
        </select>
        <select th:field="*{bodyType}" id="bodyType" name="bodyType">
            <option th:each="bmwBodyType : ${T(com.rtumirea.KazakovIG.cursework.domain.enums.BmwBodyType).values()}"
                    th:value="${bmwBodyType}" th:text="${bmwBodyType}" class="BMW">
            <option th:each="mercedesBodyType : ${T(com.rtumirea.KazakovIG.cursework.domain.enums.MercedesBodyType).values()}"
                    th:value="${mercedesBodyType}" th:text="${mercedesBodyType}" class="MERCEDES">
            <option th:each="audiBodyType : ${T(com.rtumirea.KazakovIG.cursework.domain.enums.AudiBodyType).values()}"
                    th:value="${audiBodyType}" th:text="${audiBodyType}" class="AUDI">
        </select>
        <input type="number" th:field="*{year}" placeholder="Введите год выпуска" required min="1980" th:max="${currentYear}">
        <input type="text" th:field="*{stateNumber}" placeholder="Введите ГосНомер машины"
               pattern="[А-ЯA-Z]{1}\d{3}[А-ЯA-Z]{2}\d{2,3}"
               title="А111АА777" required>
        <button type="submit">Добавить</button>
    </form>
    <p> <a th:href="@{/profile/orders}">Оформить новый заказ</a></p>
    <div th:if="${error_no_cars}" th:text="${error_no_cars}" style="color: red"></div>
    <p>Хотите посмотреть услуги? <a th:href="@{/client_services}">Услуги</a></p>
    <h1>Список заказов в обработке</h1>
    <table th:if="${!ordersPending.isEmpty()}">
        <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Машина</th>
            <th>Механик</th>
            <th>Услуги</th>
            <th>Общая сумма</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order, index : ${ordersPending}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.carEntity.make + ' ' + order.carEntity.bodyType + ' ' + order.carEntity.stateNumber}"></td>
            <td th:text="${order.userEntity.name + ' (' + order.userEntity.phoneNumber + ')'}"></td>
            <td>
                <table>
                    <thead>
                        <tr>
                            <th>Название услуги</th>
                            <th>Цена</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="service : ${order.serviceEntity}">
                            <td th:text="${service.name}"></td>
                            <td th:text="${service.price}"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td th:text="${totals[__${index.index}__]}"></td>
        </tr>
        </tbody>
    </table>
    <div th:unless="${!ordersPending.isEmpty()}">Нет заказов в обработке</div>

    <h1>Список заказов, ожидающих записи</h1>
    <form th:action="@{/profile/schedule/book}" method="post" th:if="${!ordersScheduling.isEmpty()}">
        <table>
            <thead>
            <tr>
                <th>Номер заказа</th>
                <th>Машина</th>
                <th>Механик</th>
                <th>Услуги</th>
                <th>Время работы</th>
                <th>Время доставки деталей</th>
                <th>Выбрать</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order, index : ${ordersScheduling}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.carEntity.make + ' ' + order.carEntity.bodyType + ' ' + order.carEntity.stateNumber}"></td>
                <td th:text="${order.userEntity.name + ' (' + order.userEntity.phoneNumber + ')'}"></td>
                <td>
                    <table>
                        <thead>
                        <tr>
                            <th>Название услуги</th>
                            <th>Цена</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="service : ${order.serviceEntity}">
                            <td th:text="${service.name}"></td>
                            <td th:text="${service.price}"></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td th:text="${order.workingTime}"></td>
                <td th:text="${order.detailsWaiting}"></td>
                <td><input type="radio" name="scheduleOrderChoice" th:value="${order.id}" /></td>
            </tr>
            </tbody>
        </table>

        <h1>Выберете время</h1>

        <select id="daySelector">
            <option th:each="freeSlotDay : ${freeSlotsDays}" th:text="${#temporals.format(freeSlotDay, 'dd.MM.yy')}" th:value="${freeSlotDay}"></option>
        </select>

        <table>
            <thead>
            <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>Записаться</th>
            </tr>
            </thead>
            <tbody id="freeSlots">
            <tr th:each="slot : ${freeSlots}" th:class="${slot.day} + ' schedule'">
                <td th:text="${#temporals.format(slot.day, 'dd.MM.yy')}"></td>
                <td th:text="${#temporals.format(slot.startTime, 'HH:mm')}"></td>
                <td>
                    <input type="hidden"/>
                    <button th:name="slotId" th:value="${slot.id}" type="submit">Записаться</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <div th:if="${error_book_order}" th:text="${error_book_order}" style="color: red"></div>
    <div th:unless="${!ordersScheduling.isEmpty()}">Нет заказов, ожидающих записи</div>

    <h1>Ваши записи</h1>
    <table th:if="${!clientSlots.isEmpty()}">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>Номер заказа</th>
                <th>Машина</th>
                <th>Механик</th>
                <th>Услуги</th>
                <th>Время работы</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="slot : ${clientSlots}">
            <td th:text="${#temporals.format(slot.day, 'dd.MM.yy')}"></td>
            <td th:text="${#temporals.format(slot.startTime, 'HH:mm')}"></td>
            <td th:text="${slot.orderEntity.id}"></td>
            <td th:text="${slot.orderEntity.carEntity.make + ' ' + slot.orderEntity.carEntity.bodyType + ' ' + slot.orderEntity.carEntity.stateNumber}"></td>
            <td th:text="${slot.orderEntity.userEntity.name + ' (' + slot.orderEntity.userEntity.phoneNumber + ')'}"></td>
            <td>
                <table>
                    <thead>
                    <tr>
                        <th>Название услуги</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="service : ${slot.orderEntity.serviceEntity}">
                        <td th:text="${service.name}"></td>
                        <td th:text="${service.price}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td th:text="${slot.orderEntity.workingTime}"></td>
            <td th:if="${slot.orderEntity.orderStatus==T(com.rtumirea.KazakovIG.cursework.domain.enums.OrderStatus).AWAITING_CAR}">
                Можете привезти машину заранее, при свободном окне выполним заказ раньше!:)
            </td>
            <td th:if="${slot.orderEntity.orderStatus==T(com.rtumirea.KazakovIG.cursework.domain.enums.OrderStatus).IN_PROGRESS}">
                В процессе
            </td>
            <td th:if="${slot.orderEntity.orderStatus==T(com.rtumirea.KazakovIG.cursework.domain.enums.OrderStatus).COMPLETED}">
                Заказ готов, можете забрать машину
            </td>

        </tr>
        </tbody>
    </table>
    <div th:unless="${!clientSlots.isEmpty()}">Нет записей</div>

    <script th:inline="javascript">
        (() => {
            const dynamicSelect = (id1, id2) => {
                // Определение переменных, ссылающихся на списки
                const sel1 = document.getElementById(id1);
                const sel2 = document.getElementById(id2);
                // Клонирование динамического списка
                const clone = sel2.cloneNode(true);
                // Определение переменных для клонированных элементов списка
                const clonedOptions = clone.getElementsByTagName("option");
                // Вызов функции собирающей вызываемый список
                refreshDynamicSelectOptions(sel1, sel2, clonedOptions);
                // При изменении выбранного элемента в первом списке: // вызов функции пересобирающей вызываемый список
                sel1.addEventListener('change', () => {
                    refreshDynamicSelectOptions(sel1, sel2, clonedOptions);
                });
            };

            // Функция для сборки динамического списка
            const refreshDynamicSelectOptions = (sel1, sel2, clonedOptions) => {
                // Удаление всех элементов динамического списка
                while (sel2.options.length) {
                    sel2.remove(0);
                }
                const selectedOption = sel1.options[sel1.selectedIndex].value;
                // Перебор клонированных элементов списка
                for (let i = 0; i < clonedOptions.length; i++) {
                    const option = clonedOptions[i];
                    // Если название класса клонированного option эквивалентно "select"
                    // либо эквивалентно значению option первого списка
                    if (option.classList.contains('select') ||
                        option.classList.contains(selectedOption)) {
                        // его нужно клонировать в динамически создаваемый список
                        sel2.appendChild(option.cloneNode(true));
                    }
                }
                // Отправляем событие change выбранного select
                const event = document.createEvent('HTMLEvents');
                event.initEvent('change', true, false);
                sel2.dispatchEvent(event);
            };

            const filterByDay = (id) => {
                const elementSelectedDay = document.getElementById(id);
                const selectedDay =  elementSelectedDay.options[elementSelectedDay.selectedIndex].value;
                const rows = document.getElementsByClassName("schedule");

                // Проходимся по всем строкам
                for (let i = 0; i < rows.length; i++) {
                    // Если строка не имеет нужный класс, скрываем ее
                    if (!rows[i].classList.contains(selectedDay)) {
                        rows[i].style.display = "none";
                    }
                    else {
                        rows[i].style.display = "block";
                    }
                }
                elementSelectedDay.addEventListener('change', () => {
                    filterByDay(id);
                });
            }

            // Вызов скрипта при загрузке страницы
            document.addEventListener("DOMContentLoaded", () => {
                dynamicSelect("make", "bodyType");
                filterByDay("daySelector");
            });
        })();
    </script>
</body>
</html>