<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Автосервис</title>
</head>
<body>
<h1>Регистрация</h1>
<form action="#" th:action="@{/new-user}" th:object="${user}" method="POST">
    <input type="text" th:field="*{phoneNumber}" placeholder="Введите Ваш номер телефона">
    <input type="text" th:field="*{name}" placeholder="Введите Ваше имя">
    <input type="text" th:field="*{password}" placeholder="Введите пароль">
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>